<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ISpani Innerweb</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/lib/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/colors.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/lib/global_assets/js/main/jquery.min.js"></script>
    <script src="~/lib/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/lib/global_assets/js/plugins/loaders/blockui.min.js"></script>
    <script src="~/lib/global_assets/js/plugins/ui/slinky.min.js"></script>
    <script src="~/lib/global_assets/js/plugins/ui/fab.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--<script src="https:/unpkg.com/vuelidate/dist/vuelidate.min.js"></script>
    <script src="https:/unpkg.com/vuelidate/dist/validators.min.js"></script>
    <script src="https:/unpkg.com/vuelidate-error-extractor/dist/vuelidate-error-extractor.js"></script>-->
    <!-- Theme JS files -->
    <script src="~/js/app.js"></script>
    <!-- /theme JS files -->

    <style type="text/css">
        .navbar-brand img {
            height: 200px;
            width: auto;
            display: block;
        }
}
        /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    </style>
</head>

<body>

    <div id="app">


        @RenderBody()

    </div>

    <!-- Footer -->
    <div class="navbar navbar-expand-lg navbar-light px-0">
        <div class="container">
            <div class="text-center d-lg-none w-100">
                <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                    <i class="icon-unfold mr-2"></i>
                    Footer
                </button>
            </div>

            <div class="navbar-collapse collapse" id="navbar-footer">
                <span class="navbar-text">
                    &copy; @DateTime.Today.ToString("yyyy"). All rights reserved.
                </span>

                <ul class="navbar-nav ml-lg-auto">

                    <li class="nav-item">
                        Developed By RecruitersJOB
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /footer -->

</body>
</html>
