@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Main navigation -->
<div class="card-body p-0">
    <ul class="nav nav-sidebar" data-nav-type="accordion">

        <!-- Main -->
        <li class="nav-item-header mt-0"><div class="text-uppercase font-size-xs line-height-xs">Main</div> <i class="icon-menu" title="Main"></i></li>
        <li class="nav-item">
            <a asp-action="Index" asp-controller="Recruiter" class="nav-link">
                <i class="icon-home4"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-item nav-item-submenu nav-item-expanded nav-item-open">
            <a href="#" class="nav-link"><i class="icon-unfold"></i> <span>Job Advert</span></a>

            <ul class="nav nav-group-sub" data-submenu-title="Job Advert">
                <li class="nav-item"><a asp-action="Create" asp-controller="JobAdvert" class="nav-link">Create</a></li>
                <li class="nav-item"><a asp-action="RecruiterAdvertList" asp-controller="JobAdvert" class="nav-link">View</a></li>
                <li class="nav-item"><a asp-action="RecruiterViewAppliedJobs" asp-controller="JobAdvert" class="nav-link">Applied Jobs</a></li>
            </ul>
        </li>

        <li class="nav-item">
            <a asp-action="SearchJobSeeker" asp-controller="JobSeeker" class="nav-link">
                <i class="icon-people"></i>
                <span>Search Job Seekers</span>
            </a>
        </li>

        <!-- /main -->

    </ul>
</div>
<!-- /main navigation -->