@model ChangePasswordViewModel;
@{
    var UserRole = HttpContextAccessor.HttpContext.Session.GetString("Role").Remove(0, 1);
    UserRole = UserRole.Remove(UserRole.Length - 1, 1);

    ViewData["Title"] = "Change Password";

    if (UserRole.Equals("JobSeeker"))
    {
        Layout = "~/Views/Shared/_JobSeekerLayout.cshtml";
    } else
    {
        Layout = "~/Views/Shared/_AdminRecruiterLayout.cshtml";
    }
}

<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold">Change Password</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <form asp-action="ChangePassword" asp-controller="User" method="post">
            @{
                if (TempData["PasswordChanged"] != null)
                {
                    <div class="alert alert-success">@TempData["PasswordChanged"]</div>
                }
            }
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-row">

                <div class="col-md-3 mb-3">
                    <label for="OldPassword">Old Password</label>
                    <input type="password" name="OldPassword" class="form-control">
                </div>

                <div class="col-md-3 mb-3">
                    <label for="NewPassword">New Password</label>
                    <input type="password" name="NewPassword" class="form-control">
                </div>

                <div class="col-md-3 mb-3">
                    <label for="ConfirmPassword">New Password</label>
                    <input type="password" name="ConfirmNewPassword" class="form-control">
                </div>

                <div class="col-md-3 mt-4">
                    <button class="btn btn-primary form-control" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

