
@{
    ViewData["Title"] = "AcademicRecordUploadSuccess";
    Layout = "~/Views/Shared/_JobSeekerLayout.cshtml";
}

<div class="alert alert-success text-center">Academic Record Successfully Uploaded</div>

