@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model User;

@{
    //@odel LoginViewModel;
    Layout = "_MasterLayout";
}

<!-- Page content -->
<div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper">
        
        <!-- Content area -->
        <div class="content">
            <div class="text-center mb-3">
                <img style="height:400px" src="~/logo-new.jpeg" class="rounded" alt="~Logo">
            </div>
            <!-- Basic card -->
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title"></h5>
                </div>

                <div class="card-body">

                    <!-- Form layouts -->
                    <div class="row">
                        <div class="col-md-6">

                            @if(TempData["Credentials"] != null)
                            {
                                <div class="alert alert-danger" role="alert">@TempData["Credentials"]</div>
                            }
                            <!-- Vertical form -->
                            <div class="card">
                                <div class="card-header header-elements-inline">
                                    <h5 class="card-title">sign In</h5>
                                </div>

                                <div class="card-body">
                                    <form asp-action="Auth" method="post">
                                      
                                        <label asp-for="RoleName">SELECT ROLE</label>
                                        <select name="RoleName" class="form-control">
                                            <option value="Admin">Admin</option>
                                            <option value="Recruiter">Recruiter</option>
                                            <option value="JobSeeker">JobSeeker</option>
                                        </select>
                                        

                                        <div class="form-group">
                                            <label asp-for="Email">Email</label>
                                            <input type="text" name="Email" class="form-control">
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="Password">Password</label>
                                            <input type="password" name="Password" class="form-control">
                                        </div>

                                        <div class="row">

                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-primary form-control">Sign In </button>
                                            </div>

                                            <div class="col-md-6 text-right">
                                                <a asp-action="ForgotPassword" asp-controller="User" class="">Forgot Password ?</a>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /vertical form -->

                        </div>

                        <div class="col-md-6">
                            
                            <!-- Vertical form -->
                            <div class="card">
                                <div class="card-header header-elements-inline">
                                    <h5 class="card-title"> Job Seeker sign Up</h5>
                                </div>

                                <div class="card-body">
                                    <form asp-action="SignUp" method="post">
                                        @if (TempData["SignUpSucess"] != null)
                                        {
                                            <div class="alert alert-success" role="alert">@TempData["SignUpSucess"]</div>
                                        }
                                        <div asp-validation-summary="All" class="alert-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="Email">Email</label>
                                            <input type="text" name="Email" class="form-control">
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="Password">Password</label>
                                            <input type="password" name="Password" class="form-control">
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="ConfirmPassword">Confirm Password</label>
                                            <input type="password" name="ConfirmPassword" class="form-control">
                                        </div>
                                        x
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-primary form-control">Sign Up</button>
                                        </div>
                                    </form>

                                    <!--<div class="list-icons list-icons-extended mt-3 text-center">
                                        <a href="https:/www.facebook.com/Hustlers-Recruitment-Services-103938581788044/" target="_blank" class="list-icons-item" data-popup="tooltip" title="Facebook" data-container="body"><i class="icon-facebook"></i></a>
                                        <a href="https:/mobile.twitter.com/oakabae/" class="list-icons-item" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a>
                                    </div>-->
                                </div>
                            </div>
                            <!-- /vertical form -->

                        </div>
                    </div>
                    <!-- /form layouts -->
                </div>
            </div>
            <!-- /basic card -->

        </div>
        <!-- /content area -->

    </div>
    <!-- /main content -->

</div>
<!-- /page content -->