
@{
    ViewData["Title"] = "InterviewInviteSuccess";
    Layout = "~/Views/Shared/_AdminRecruiterLayout.cshtml";
}

<div class="alert alert-success text-center">Successfully Declined Application</div>

