
@{
    ViewData["Title"] = "InterviewInviteSuccess";
    Layout = "~/Views/Shared/_AdminRecruiterLayout.cshtml";
}

<div class="alert alert-success text-center">Email for Interview Invitation Was Sent To An Applicant</div>

