@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AdminDashboardStats;
@{
    Layout = "_AdminRecruiterLayout";
}

<div class="row">

    <div class="col-md-3">
        <!-- Basic card -->
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Recruiters</h5>
            </div>

            <div class="card-body">
                <h6 class="font-weight-semibold">@Model.Recruiters</h6>
            </div>
        </div>
        <!-- /basic card -->
    </div>

    <div class="col-md-3">
        <!-- Basic card -->
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Companies</h5>
            </div>

            <div class="card-body">
                <h6 class="font-weight-semibold">@Model.Companies</h6>
            </div>
        </div>
        <!-- /basic card -->
    </div>

    <div class="col-md-3">
        <!-- Basic card -->
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Job Seekers</h5>
            </div>

            <div class="card-body">
                <h6 class="font-weight-semibold">@Model.JobSeekers</h6>
            </div>
        </div>
        <!-- /basic card -->
    </div>

    <div class="col-md-3">
        <!-- Basic card -->
        <div class="card mb-3">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Job Adverts</h5>
            </div>

            <div class="card-body">
                <h6 class="font-weight-semibold">@Model.Adverts</h6>
            </div>
        </div>
        <!-- /basic card -->
    </div>

</div>